
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.junoon-header-container {
    width: auto;
    height: 225px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.junoon-logo {
    width: 349px;
    height: 130px;
}

.white-line {
    width: 4px;
    height: 455px;
    background-color: #ffffff;
}

.contact-box-container {
    width: 280px;
    height: 70px;
    background-color: #ffffff;
    border: solid 4px #B31917;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-top: 10px
}

.contact-box-button {
    width: 196px;
    height: 39px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ea8004;
    background-color: white;
    border-color: white;
    box-sizing: inherit;
    border-width: 0;
}

.contact-box-button:hover {
    background-color: #ea8004;
    color: white;
}

.register-container {
    height: 130px;
    width: 289px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 33px;
    padding-right: 150px;
}

.register-box {
    width: 280px;
    height: 70px;
    background-color: #ffffff;
    border: solid 4px #ea8004;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-text {
    width: 157px;
    height: 40px;
    font-family: MONOSPACE;
    font-size: 30px;
    text-align: center;
    color: #ea8004;
    background-color: white;
    border-color: white;
    box-sizing: inherit;
    border-width: 0;
}

.register-text:hover {
    background-color: #ea8004;
    color: white;
}

.form-register-text {
    margin-bottom: 0;
}

.form-contact-us {
    margin-bottom: 0;
}

.free-food-sample {
    width: 280px;
    height: 27px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    color: #ea8004;
    padding-top: 5px;
}

.meaning-sukoon-container {
    width: auto;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-pic {
    width: 452px;
    height: 455px;
    background-color: #ffffff;
}

.meaning-sukoon-text-container {
    width: 454px;
    height: 455px;
    background-color: #eb8927;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.meaning-sukoon-title {
    font-size: 30px;
    height: 40px;
    font-family: Montserrat;
    text-align: center;
    color: #ffffff;
}

.meaning-sukoon-subtitle {
    width: 338px;
    height: 220px;
    font-family: Montserrat;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding-top: 80px;
}

.meaning-sukoon-logo {
    padding-bottom: 35px;
}

.read-our-story-container {
    width: 250px;
    height: 45px;
    border: solid 4px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.read-our-story-text {
    width: 164px;
    height: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.second-pic {
    width: 452px;
    height: 455px;
    background-color: #ffffff;
}

.sukoon-flow-container {
    width: auto;
    height: 850px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sukoon-flow-title {
    width: 458px;
    height: 73px;
    font-family: Montserrat;
    font-size: 45px;
    text-align: center;
    color: #c23916;
    font-weight: 600;
    padding-bottom: 50px;
}

.sukoon-flow-pic {
    width: 841px;
    height: 578px;
}

.sukoon-vision-flow-container {
    width: auto;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sukoon-vision-container {
    width: 682px;
    height: 455px;
    background-color: #aca99f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-vision-title {
    width: 250px;
    height: 52px;
    font-family: Montserrat;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.our-vision-subtitle {
    width: 558px;
    height: 152px;
    font-family: Montserrat;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.our-vision-logo {
    width: 136px;
    height: 23px;
}

.sukoon-vision-pic {
    width: 680px;
    height: 455px;
    background-color: #ffffff;
}

.taste-guarantee-commitment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.taste-guarantee-fixed-container {
    width: 1362px;
    height: 350px;
    background-color: #c23916;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taste-guarantee-first-pic {
    width: 163px;
    height: 115px;
    padding-right: 40px;
    padding-bottom: 110px;
}

.taste-guarantee-text-container {
    width: 784px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.percent-guarantee-title {
    width: 684px;
    height: 100px;
    font-family: Montserrat;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 13px;
}

.percent-guarantee-subtitle {
    width: 784px;
    height: 79px;
    font-family: Montserrat;
    font-size: 23px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.taste-guarantee-second-pic {
    width: 163px;
    height: 115px;
    padding-left: 40px;
    padding-bottom: 110px;
}

.sukoon-actual-food-container {
    width: 1362px;
    height: 455px;
    background-repeat: repeat;
}

.sukoon-actual-top-food-container {
    width: auto;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-indian-cuisine-container {
    height: 225px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-indian-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-indian-cuisine-title {
    width: 888px;
    height: 39px;
    font-family: Montserrat;
    font-size: 40px;
    text-align: center;
    color: #c23916;
    font-weight: 600;
}

.explore-indian-cuisine-subtitle {
    width: 888px;
    height: 79px;
    font-family: Montserrat;
    font-size: 23px;
    text-align: center;
    color: #c23916;
    font-weight: 600;
    padding-top: 25px;
}

.white-line-footer {
    width: 4px;
    height: 455px;
    background-color: #ffffff;
}

.explore-first-pic {
    width: 121px;
    height: 110px;
    padding-right: 55px;
}

.explore-second-pic {
    width: 121px;
    height: 110px;
    padding-left: 55px;
}

.indian-food-photos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indian-food-pic-first {
    width: 680px;
    height: 455px;
}

.indian-food-pic-second {
    width: 682px;
    height: 455px;
    background-color: #ffffff;
}

.sukoon-footer-container {
    width: 1362px;
    height: 165px;
    background-color: #eb8927;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sukoon-footer-pic {
    width: 542px;
    height: 121px;
}

.sukoon-footer-top-container {
    width: auto;
    height: 165px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}